*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    color: #111;
    background-color: #F9F5F6;
}
.searchIcon {
    color: #fff;
    cursor: pointer;
}
.img-section img {
    width: 85%;
    height: 85%;
}
/* .homepage {
    background: url(../images/banner.png) no-repeat center;
    background-size: cover;
    color: #fff;
    height: 95vh;
} */
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px;
    background: #0c0116;
}
label {
    display: none;
}
nav .navbar {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
   
}
nav .navbar li {
    list-style: none;
}
nav .navbar li a {
    font-size: 1em;
    text-decoration: none;
    padding: 10px;
    transition: .3s all;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
nav .navbar li a:hover {
    background-color: #FDCEDF;
    color: #111;
}
.logo h4 {
    font-size: 2rem;  
    color: #fff;
}
.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
}
.title {
    padding-block: 3rem;
    background-color: #db5660;
    font-size: 2rem;
    text-align: center;
    color: #fff;
}

/* new collection section */
.new-collection {
    padding-block: 2rem;
}
.collection-pic {
   max-width: 100%;
   height: auto;
   padding-top: 3rem;
}

.new-collection .titlee {
    max-width: 1050px;
    margin: 0 auto;
    padding-block: 3rem;
    padding-inline: 1rem;
}
.new-collection .titlee h4 {
    font-size: 2rem;
}
.new-collection .title p {
    font-size: 1.1em;
}
.left-side {
    background-color: #ffffff;
    max-width: 700px;
    height: 450px;
    padding-inline: 3rem;
    padding-inline-start: 0;
    box-shadow: 3px 3px 3px 3px rgba(0,0,0, .3);
    z-index: 20;
    margin-bottom: 5rem;

}
.right-side {
    background-color: #f2f2f2;
    max-width: 700px;
    height: 450px;
    padding-inline: 3rem;
    box-shadow: 3px 3px 3px 3px rgba(0,0,0, .3);
    z-index: 1;
}
.new {
    padding: 10px 2rem;
    background-color: #111;
    color: #fff;
    font-size: 1.1em;
    max-width: 100px;
    position: absolute;
    margin-right: 1rem;
    letter-spacing: 1px;
}
.items-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-block: 4rem;
    width: 100%;
    padding-inline: 1rem;
}
.product-content {
    display: grid;
    place-content: center;
    text-align: center;
    padding-top: 1rem;

}
.product-content h4 {
    font-size: 1.3rem;
    border-bottom: 1px solid black;
}
.stars {
    display: flex;
    align-items: ceter;
    justify-content: center;
    gap: 1rem;
}

.see-more {
    display: grid;
    place-content: center;

}
.seeMore {
    padding: .7rem 3rem;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1.1em;
    background-color: #f26f9f;
    color: #fff;
    transition: .3s all;
    cursor: pointer;

}
.seeMore:hover {
    background-color: #d34f80;
}


/* footer section */
footer {
    background-color: #111;
    color: #fff;
    padding-block: 2.5rem;
}
.main-content-footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    gap: 3rem;
    place-content: center;
}
.names, .company, .header-list {
    max-width: 350px;
    padding-inline: 1rem;
    text-align: center;
}
.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
    cursor: pointer;
}
.header-list .navbar li {
    list-style: none;
}
.header-list .navbar li  a {
    font-size: 1.1em;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.names h4 {
    font-size: 2rem;
}
.names h4  span {
    color: #f26f9f;
}
.company {
    line-height: 2rem;
    font-size: 1.1em;
    color: #f26f9f;
}
.header-list .navbar .icons {
    padding-top: 1rem;
}

.credits {
    padding-block: 1rem;
    font-size: 1.2rem;
    color: #fff;
    background-color: #f26f9f;
    text-align: center;
}


@media(max-width:870px){
    .items-grid {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .left-side {
        padding-inline: 3rem;
    }
}

@media(max-width:920px) {
    nav{
        position: absolute;
        top: 5px;
        right: 5px;
        width: 200px;
        border-radius: 5px;
        background-color: #f26f9f;
        color: #111;
        display: none;
        padding-block: .5rem;
    }
    nav .navbar {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 1rem;
    }
    label {
        display: block;
        text-align: left;
        font-size: 1.3em;
        padding-left: 10px;
        color: #fff;
    }
    input:checked ~ nav {
        display: block;
    }
    .homepage header {
        display: flex;
        justify-content: space-between;
        gap: 0;
    }
    .homepage-content {
    padding-inline: 1rem;
    }

    
}
@media(max-width:690px) {
    .titlee {
        text-align: center;
        }
     .left-side, .right-side {
            padding-inline: 1.5rem;
        }
}
@media(max-width:390px) {
    .homepage-content .title h4 {
        font-size: 2.5rem;
    }
    .logo h4 {
        font-size: 1.8rem;
    }
    .collection-pic {
        padding-top: 6rem;
    }
}
